@charset "UTF-8";
.loader {
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.603);
  opacity: 1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  cursor: wait;
  animation: loader 1s forwards;
}

.loader i {
  margin-left: 42vw;
  margin-right: 43vw;
  margin-top: 60vw;
  font-size: 17vw;
  color: #9356dc;
  animation: loader-spin 2s ease-in-out forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*home*/
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.title-cursive {
  font-family: "Shrikhand", cursive;
}

.fa-arrow-left {
  color: black;
  padding-top: 14px;
}

/*header*/
#home-logo {
  text-align: center;
  box-shadow: #c4c4c4 0px 4px 12px;
}
#home-logo img {
  width: 18vw;
  padding-bottom: 2px;
  padding-top: 15px;
}

/*recherche*/
.btn-map button {
  border: none;
  background-color: transparent;
  color: gray;
}
.btn-map button a {
  color: #4b4b4b;
}

input {
  outline: none;
  border: none;
  background-color: #e9e5e5;
  color: #222222;
}
input :active {
  border: none;
}

#home-location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-location h1 {
  display: block;
  margin-top: 5vw;
  width: 21vw;
  text-align: center;
}

#home-location a {
  color: #ffff;
}

#home-location p {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 15px;
  color: grey;
}

.home-location-container {
  background-color: #e9e5e5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  border-radius: 1.5em;
  padding-left: 0px;
}
.home-location-container i {
  color: #9356dc;
}
.home-location-container .visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}
.home-location-container input {
  background: none;
  border: none;
}
.home-location-container input ::placeholder {
  border: none;
}
.home-location-container input :focus {
  border: none;
  outline: none;
}

/*explore*/
#explore-restaurant {
  border-right: solid 2px #9356dc;
  margin-top: 28px;
  margin-bottom: 22px;
  padding-right: 76px;
}

.explore-restaurant-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explore-restaurant-container h1 {
  width: 60%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 35px;
}
.explore-restaurant-container p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 15px;
  color: grey;
}

#explore-restaurant h2 {
  font-family: "Roboto", sans-serif;
  display: block;
  margin-top: 5vw;
  text-align: center;
  margin-bottom: 12px;
}

.btn-explore-restaurant {
  background: linear-gradient(180deg, #ff79da, #9356dc);
  box-shadow: 0px 6px 12px #c4c4c4;
  width: 164px;
  text-align: center;
  border-radius: 1.5rem;
  padding: 16px;
  margin-bottom: 8vh;
  margin-top: 4vh;
}
a .btn-explore-restaurant:hover {
  color: #9356dc;
}
.btn-explore-restaurant:hover {
  background: linear-gradient(180deg, #ff79da, #9256dcd0);
  box-shadow: 0px 6px 12px #aaa6a6;
}

.explore-restaurant-container a {
  text-decoration: none;
  color: #ffff;
  font-size: 15px;
}

.btn-explore-restaurant {
  background: linear-gradient(180deg, #ff79da, #9356dc);
  border-radius: 1.5rem;
  padding: 16px;
  margin-bottom: 8vh;
  margin-top: 4vh;
  box-shadow: 0px 6px 12px #c4c4c4;
}
.btn-explore-restaurant a {
  text-decoration: none;
  color: #ffff;
}

/*fonctionnements*/
#how-it-works {
  background-color: #ffff;
  box-shadow: #c4c4c4 0px -6px 12px;
}

.how-it-works-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 35px;
}
.how-it-works-content h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}

.btn-how-it-works {
  border-radius: 1.5rem;
  padding: 16px;
  padding-right: 30px;
  margin-top: 10px;
}

.how-it-works-btn span {
  color: #ffff;
  position: relative;
  top: 45px;
  right: 20px;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #9356dc;
  z-index: 1;
}

.how-it-works-element {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.how-it-works-btn-element {
  background-color: #e9e5e5;
  box-shadow: 0px 6px 12px #c4c4c4;
  display: flex;
  justify-content: space-evenly;
  width: 20vw;
  padding: 0;
}
.how-it-works-btn-element:hover {
  box-shadow: 0px 6px 12px #aaa6a6;
  background-color: #9256dc28;
}
.how-it-works-btn-element:hover > * {
  color: black;
}
.how-it-works-btn-element:hover > * i {
  color: #9356dc;
}

.home-search {
  width: 100vw;
}

.home-search-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.how-it-works-element {
  display: flex;
  width: 95vw;
  column-gap: 44px;
  justify-content: space-around;
  flex-direction: row;
}
.how-it-works-element .how-it-works-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.restaurants-choices-container-results-grid--element---image-container span {
  color: #048162;
  background-color: #99e2d0;
}

.how-it-works-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}
.how-it-works-icon i {
  color: gray;
  padding-left: 10px;
}

.how-it-works-content-third {
  margin-bottom: 20px;
}

/*restaurant-choices*/
#restaurants-choices span {
  background-color: #99e2d0;
  color: #048162;
  position: relative;
  bottom: 12rem;
  right: 2vw;
  float: right;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  font-weight: 900;
  border-radius: 2px;
}

.restaurants-choices-title {
  margin: 0;
  padding: 0 0 2rem 0;
}

/**/
#restaurants-choices {
  display: grid;
  grid-template-columns: 1fr;
  gap: 34px;
  margin-top: 38px;
  padding-bottom: 15vh;
  background-color: #e9e5e5;
}

.restaurants-choices-container {
  padding-top: 20px;
  width: 94vw;
  padding-left: 3vw;
}

.restaurants-choices-container-results-grid--element---description {
  text-decoration: none;
}

.restaurants-choices-container-results-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-row: 2;
  gap: 28px;
}
.restaurants-choices-container-results-grid a {
  color: black;
}

.restaurants-choices-container-results-grid--element {
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 1.2rem;
  padding: 3px;
  box-shadow: 0px 6px 12px #c4c4c4;
  width: 99%;
}
.restaurants-choices-container-results-grid--element---image-container {
  height: 206px;
  overflow: hidden;
}
.restaurants-choices-container-results-grid--element---image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
}
.restaurants-choices-container-results-grid--element--element---description {
  margin-top: 10px;
  margin-left: 12px;
  margin-bottom: 10px;
}

.restaurants-choices-container-results-way {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 10px 10px 10px 10px;
}
.restaurants-choices-container-results-way h4,
.restaurants-choices-container-results-way p {
  margin: 0;
}

button {
  border: none;
  background: none;
}

.like i.fas.fa-heart {
  font-size: 20px;
  background: -webkit-linear-gradient(bottom, #ff79da, #9356dc 1rem, #9356dc 1rem, transparent, transparent);
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
  -webkit-background-size: 58px;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  transition: background-size 1s ease-in-out;
  overflow: hidden;
  padding: 1px;
}
.like i.fas.fa-heart:hover {
  -webkit-background-size: 19px;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0px;
}

@media (max-width: 1024px) {
  #explore-restaurant {
    border-right: solid 2px #9356dc;
    padding-top: 28px;
    padding-bottom: 22px;
    padding-right: 12px;
  }

  #home-location h1 {
    display: block;
    margin-top: 5vw;
    width: 28vw;
    text-align: center;
  }

  .how-it-works-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8vw;
  }
  .how-it-works-content .how-it-works-element {
    display: flex;
    width: 82vw;
    column-gap: 44px;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 3vw;
  }
  .how-it-works-content .how-it-works-element .how-it-works-btn-element {
    background-color: #e9e5e5;
    box-shadow: 0px 6px 12px #c4c4c4;
    display: flex;
    justify-content: flex-start;
    width: 74vw;
    padding: 0;
    justify-content: center;
    column-gap: 2vw;
  }
  .how-it-works-content .how-it-works-element .how-it-works-btn-element:hover {
    box-shadow: 0px 6px 12px #aaa6a6;
    background-color: #9256dc28;
  }
}
@media (max-width: 720px) {
  /*chargement*/
  .loader {
    position: fixed;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.603);
    opacity: 1;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: wait;
    animation: loader 1s forwards;
  }

  .loader i {
    margin-left: 42vw;
    margin-right: 43vw;
    margin-top: 60vw;
    font-size: 17vw;
    color: #9356dc;
    animation: loader-spin 2s ease-in-out forwards;
  }

  @keyframes loader {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -1;
    }
  }
  @keyframes loader-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /*home*/
  body {
    margin: 0;
    font-family: "Roboto", sans-serif;
  }

  a {
    text-decoration: none;
  }

  .title-cursive {
    font-family: "Shrikhand", cursive;
  }

  #explore-restaurant h2 {
    width: 80vw;
  }

  /*header*/
  #home-logo {
    text-align: center;
    box-shadow: unset;
  }
  #home-logo img {
    width: 50vw;
    padding-bottom: 2px;
    padding-top: 15px;
  }

  #home-location .btn-explore-restaurant {
    display: none;
  }

  /*recherche*/
  .btn-map button {
    border: none;
    background-color: transparent;
    color: gray;
  }
  .btn-map button a {
    color: #4b4b4b;
  }

  input {
    outline: none;
    border: none;
    background-color: #e9e5e5;
    color: #222222;
  }
  input :active {
    border: none;
  }

  .home-search-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  #home-location h1 {
    display: none;
  }

  #home-location p {
    display: none;
  }

  #home-location {
    box-shadow: inset 0px 0px 9px #c4c4c4;
    background-color: #e9e5e5;
  }

  .home-location-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 65%;
    margin-left: 25%;
    background-color: unset;
  }
  .home-location-container .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
  }
  .home-location-container input {
    background: none;
    border: none;
  }
  .home-location-container input ::placeholder {
    border: none;
  }
  .home-location-container input :focus {
    border: none;
    outline: none;
  }

  /*explore*/
  #explore-restaurant {
    text-align: center;
    padding-right: 0px;
    border-right: none;
    background-color: #e9e5e5;
    margin: 0;
  }

  .explore-restaurant-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .explore-restaurant-container h1 {
    width: 60%;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 35px;
  }
  .explore-restaurant-container p {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 15px;
    color: grey;
    width: 80vw;
  }

  .btn-explore-restaurant {
    background: linear-gradient(180deg, #ff79da, #9356dc);
    box-shadow: 0px 6px 12px #c4c4c4;
    border-radius: 1.5rem;
    padding: 16px;
    margin-bottom: 8vh;
    margin-top: 4vh;
  }
  a .btn-explore-restaurant:hover {
    color: #9356dc;
  }

  .explore-restaurant-container a {
    text-decoration: none;
    color: #ffff;
    font-size: 15px;
  }

  .btn-explore-restaurant {
    background: linear-gradient(180deg, #ff79da, #9356dc);
    border-radius: 1.5rem;
    padding: 16px;
    margin-bottom: 8vh;
    margin-top: 4vh;
    box-shadow: 0px 6px 12px #c4c4c4;
  }
  .btn-explore-restaurant a {
    text-decoration: none;
    color: #ffff;
  }

  /*fonctionnements*/
  #how-it-works {
    background-color: #ffff;
    box-shadow: none;
  }

  .how-it-works-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .how-it-works-content h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
  }

  .btn-how-it-works {
    border-radius: 1.5rem;
    padding: 16px;
    padding-right: 30px;
    margin-top: 10px;
  }

  .how-it-works-btn span {
    color: #ffff;
    position: relative;
    top: 45px;
    right: 20px;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #9356dc;
    z-index: 1;
  }

  .how-it-works-element {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: 20px;
  }

  .how-it-works-btn-element {
    background-color: #e9e5e5;
    box-shadow: 0px 6px 12px #c4c4c4;
    display: flex;
    justify-content: space-evenly;
    width: auto;
    padding: 0;
  }
  .how-it-works-btn-element:hover {
    box-shadow: 0px 6px 12px #aaa6a6;
    background-color: #9256dc28;
  }
  .how-it-works-btn-element:hover > * {
    color: black;
  }
  .how-it-works-btn-element:hover > * i {
    color: #9356dc;
  }

  .restaurants-choices-container-results-grid--element---image-container span {
    color: #048162;
    background-color: #99e2d0;
  }

  .how-it-works-icon {
    justify-content: flex-start !important;
    column-gap: 14px !important;
  }
  .how-it-works-icon i {
    color: gray;
    padding-left: 10px;
  }

  .how-it-works-content-third {
    margin-bottom: 20px;
  }

  /*restaurant-choices*/
  #restaurants-choices span {
    background-color: #99e2d0;
    color: #048162;
    position: relative;
    bottom: 6.8rem;
    right: 2vw;
    float: right;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
    font-weight: 900;
    border-radius: 2px;
  }

  .restaurants-choices-title {
    margin: 0;
    padding: 0 0 2rem 0;
  }

  /**/
  #restaurants-choices {
    display: grid;
    grid-template-columns: 1fr;
    gap: 34px;
    margin-top: 38px;
    width: 100%;
    padding-bottom: 35px;
    background-color: #e9e5e5;
  }

  .restaurants-choices-container {
    padding-top: 20px;
    width: 90%;
    padding-left: 8vw;
  }

  .restaurants-choices-container-results-grid--element---description {
    text-decoration: none;
  }

  .restaurants-choices-container-results-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row: 2;
    gap: 28px;
  }
  .restaurants-choices-container-results-grid a {
    color: black;
  }

  .restaurants-choices-container-results-grid--element {
    display: grid;
    grid-template-rows: 1fr;
    border-radius: 1.2rem;
    padding: 3px;
    box-shadow: 0px 6px 12px #c4c4c4;
    width: 93%;
  }
  .restaurants-choices-container-results-grid--element---image-container {
    height: 113px;
    overflow: hidden;
  }
  .restaurants-choices-container-results-grid--element---image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
  }
  .restaurants-choices-container-results-grid--element--element---description {
    margin-top: 10px;
    margin-left: 12px;
    margin-bottom: 10px;
  }

  /**/
  .restaurants-choices-container-results-way {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding: 10px 10px 10px 10px;
  }
  .restaurants-choices-container-results-way h4,
.restaurants-choices-container-results-way p {
    margin: 0;
  }

  button {
    border: none;
    background: none;
  }
}
#home-logo-menu {
  text-align: center;
}
#home-logo-menu img {
  width: 18vw;
  padding-bottom: 2px;
  padding-top: 15px;
}

/*menu*/
.home-content {
  display: flex;
  align-items: center;
  width: 90%;
  margin-left: 6%;
  column-gap: 20px;
}

#menu-française {
  background-image: url("../../ElodieJean_3_04122021/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-top: 10%;
}

#enchantee {
  background-image: url("../../ElodieJean_3_04122021/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-top: 10%;
}

#palette_gout {
  background-image: url("../../ElodieJean_3_04122021/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-top: 10%;
}

#delice_sens {
  background-image: url("../../ElodieJean_3_04122021/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-top: 10%;
}

.fond-ecran-content {
  background-color: #e9e5e5;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
}

.fond-ecran-content h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.menu-like {
  margin-top: 35px;
}

.fond-ecran-menu {
  background-color: #e9e5e5;
  padding-bottom: 18vh;
}

.menu-content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 4vw;
  width: 86%;
  column-gap: 17px;
  background-color: #e9e5e5;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-content > * {
  flex: 1 1 32%;
}

.menu-element {
  display: flex;
  flex-direction: column;
  width: 93%;
  max-width: 30%;
  padding-bottom: 30px;
}

.menu-element h2 {
  text-transform: capitalize;
  font-weight: 100;
  color: gray;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 3.3px solid #99e2d0;
  padding-bottom: 5px;
  width: 35px;
}

.menu-title {
  display: flex;
  justify-content: space-evenly;
  padding-right: 15px;
  padding-bottom: 15px;
  align-items: center;
  width: 87%;
  justify-content: space-between;
  margin-left: 4%;
  padding-top: 2%;
}

/*debut animation*/
.menu-title-price {
  margin: 0;
  font-size: 11px;
}

.menu-btn {
  max-width: 100%;
}

.menu-btn-element {
  max-width: 100%;
  display: flex;
  background-color: #ffff;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0px 6px 12px #c4c4c4;
  border-radius: 1rem;
  margin-bottom: 1em;
  margin-top: 1em;
  animation: move-btn 2s forwards;
}
.menu-btn-element .menu-text {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-btn-element .menu-text .menu-title-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}
.menu-btn-element .menu-text .menu-title-text > * {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
.menu-btn-element .menu-text .menu-title-price {
  display: flex;
  align-items: flex-end;
  max-width: 100%;
  padding-right: 12px;
}
.menu-btn-element .menu-text .menu-title-price .menu-price {
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 600;
}
.menu-btn-element .menu-text:hover {
  margin-right: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.menu-btn-element .menu-text:hover + .menu-btn-valider {
  margin-right: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.menu-btn-element .menu-text:hover + .menu-btn-valider i {
  color: #ffff;
  transform: rotate(360deg);
  transition-duration: 0.8s;
}
.menu-btn-element .menu-btn-valider {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #99e2d0;
  width: 3.5rem;
  margin-right: -4rem;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.menu-btn-element .menu-btn-valider > i {
  color: #ffff;
}

@keyframes move-btn {
  0% {
    opacity: 0;
    margin-top: 2em;
  }
  20% {
    opacity: 0;
    margin-top: 2em;
  }
  80% {
    opacity: 1;
    margin-top: 1em;
  }
  100% {
    opacity: 1;
    margin-top: 1em;
  }
}
/*fin-animation*/
.menu-title-text {
  display: flex;
  flex-direction: column;
}
.menu-title-text h3 {
  margin: 0;
  font-size: 13px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 4px;
}
.menu-title-text p {
  margin: 0;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 11px;
}

.btn-commander {
  background: linear-gradient(180deg, #ff79da, #9356dc);
  box-shadow: 0px 6px 12px #c4c4c4;
  border-radius: 1.5rem;
  padding: 16px;
  margin-bottom: 8vh;
  margin-top: 4vh;
  float: right;
  text-align: center;
  width: 134px;
  margin-right: 10vw;
}
.btn-commander a {
  text-decoration: none;
  color: #ffff;
  font-size: 15px;
}
.btn-commander:hover {
  background: linear-gradient(180deg, #ff79da, #9356dc, #9356dc);
  box-shadow: 0px 6px 12px #aaa6a6;
}

@media (max-width: 720px) {
  #home-logo-menu {
    text-align: center;
    box-shadow: unset;
  }
  #home-logo-menu img {
    width: 50vw;
    padding-bottom: 2px;
    padding-top: 15px;
  }

  /*menu*/
  .home-content {
    display: flex;
    align-items: center;
    width: 82%;
    margin-left: 0%;
    justify-content: space-evenly;
  }

  #menu-française {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: unset;
    padding-top: 55%;
  }

  #enchantee {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: unset;
    padding-top: 55%;
  }

  #palette_gout {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: unset;
    padding-top: 55%;
  }

  #delice_sens {
    background-size: contain;
    background-position: unset;
    padding-top: 55%;
  }

  .fond-ecran-content {
    background-color: #e9e5e5;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
  }

  .fond-ecran-content h2 {
    font-family: "Shrikhand", cursive;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .menu-like {
    margin-top: 35px;
  }

  .menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9e5e5;
    margin-left: 0vw;
    width: 95%;
  }

  .menu-element {
    display: flex;
    flex-direction: column;
    width: 93%;
    max-width: 100%;
    padding-bottom: 30px;
  }

  .menu-element h2 {
    text-transform: capitalize;
    font-weight: 100;
    color: #6d6c6c;
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 3.3px solid #99e2d0;
    padding-bottom: 5px;
    width: 35px;
  }

  .menu-title {
    display: flex;
    justify-content: space-evenly;
    padding-right: 15px;
    padding-bottom: 15px;
    align-items: center;
    width: 87%;
    justify-content: space-between;
    margin-left: 4%;
    padding-top: 10%;
  }

  /*debut animation*/
  .menu-title-price {
    margin: 0;
    font-size: 11px;
  }

  .menu-btn-element {
    max-width: 100%;
    display: flex;
    background-color: #ffff;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0px 6px 12px #c4c4c4;
    border-radius: 1rem;
    margin-bottom: 1em;
    margin-top: 1em;
    animation: move-btn 2s forwards;
  }
  .menu-btn-element .menu-text {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .menu-btn-element .menu-text .menu-title-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
  }
  .menu-btn-element .menu-text .menu-title-text > * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
  }
  .menu-btn-element .menu-text .menu-title-price {
    display: flex;
    align-items: flex-end;
    max-width: 100%;
    padding-right: 12px;
  }
  .menu-btn-element .menu-text .menu-title-price .menu-price {
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
  }
  .menu-btn-element .menu-text:hover {
    margin-right: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
  .menu-btn-element .menu-text:hover + .menu-btn-valider {
    margin-right: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
  .menu-btn-element .menu-text:hover + .menu-btn-valider i {
    color: #ffff;
    transform: rotate(360deg);
    transition-duration: 0.8s;
  }
  .menu-btn-element .menu-btn-valider {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #99e2d0;
    width: 3.5rem;
    margin-right: -4rem;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
  .menu-btn-element .menu-btn-valider > i {
    color: #ffff;
  }

  @keyframes move-btn {
    0% {
      opacity: 0;
      margin-top: 2em;
    }
    20% {
      opacity: 0;
      margin-top: 2em;
    }
    80% {
      opacity: 1;
      margin-top: 1em;
    }
    100% {
      opacity: 1;
      margin-top: 1em;
    }
  }
  /*fin-animation*/
  .menu-title-text {
    display: flex;
    flex-direction: column;
  }
  .menu-title-text h3 {
    margin: 0;
    font-size: 13px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 4px;
  }
  .menu-title-text p {
    margin: 0;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
  }

  .fond-ecran-menu {
    background-color: #e9e5e5;
    padding-bottom: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-commander {
    background: linear-gradient(180deg, #ff79da, #9356dc);
    box-shadow: 0px 6px 12px #c4c4c4;
    width: 134px;
    margin-right: 0vw;
  }
  .btn-commander a {
    text-decoration: none;
    color: #ffff;
    font-size: 15px;
  }
}
footer {
  background-color: #2e2e2e;
}

.footer-mention {
  display: flex;
  flex-direction: column;
}

.footer-content a {
  color: #ffff;
  font-size: 13px;
}

.footer-content {
  display: flex;
  padding-bottom: 20px;
  padding-top: 3vh;
  padding-left: 3em;
  align-items: flex-start;
}

.footer-logo img {
  padding-top: 10px;
  padding-bottom: 13px;
  width: 76%;
}

.footer-element {
  display: flex;
  column-gap: 34px;
}

.footer-mention {
  padding-bottom: 2px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-menu {
  display: flex;
  align-items: flex-start;
  column-gap: 10px;
  padding-bottom: 7px;
  margin-top: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.footer-menu-icon {
  color: #ffff;
}

.footer-menu-icon i {
  font-size: 13px;
}

.footer-menu a,
.footer-mention {
  color: #ffff;
}

@media (max-width: 720px) {
  footer {
    background-color: #2e2e2e;
  }

  .footer-mention {
    display: flex;
    flex-direction: column;
  }

  .footer-content a {
    color: #ffff;
    font-size: 13px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-left: 2em;
  }

  .footer-logo img {
    padding-top: 20px;
    padding-bottom: 13px;
    width: 54%;
  }

  .footer-element {
    display: flex;
    flex-direction: column;
  }

  .footer-mention {
    padding-bottom: 2px;
  }

  .footer-menu {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
    padding-bottom: 0px;
  }

  .footer-menu-icon {
    color: #ffff;
  }

  .footer-menu-icon i {
    font-size: 13px;
  }

  .footer-menu a,
.footer-mention {
    color: #ffff;
  }
}

/*# sourceMappingURL=style.css.map */
