@import "../utils/mixin";
@import "../utils/variables";

.loader {
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.603);
  opacity: 1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  cursor: wait;
  animation: loader 1s forwards;
}

.loader i {
  margin-left: 42vw;
  margin-right: 43vw;
  margin-top: 60vw;
  font-size: 17vw;
  color: #9356dc;
  animation: loader-spin 2s ease-in-out forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*home*/

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "Shrikhand", cursive;
}

/*header*/

#home-logo {
  text-align: center;
  box-shadow: #c4c4c4 0px 4px 12px;
  img {
    width: 18vw;
    padding-bottom: 2px;
    padding-top: 15px;
  }
}

/*recherche*/

.btn-map button {
  border: none;
  background-color: transparent;
  color: gray;
  a {
    color: rgb(75, 75, 75);
  }
}

input {
  outline: none;
  border: none;
  background-color: $colour-block-one;
  color: rgb(34, 34, 34);
  :active {
    border: none;
  }
}

#home-location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-location h1 {
  display: block;
  margin-top: 5vw;
  width: 21vw;
  text-align: center;
}

#explore-restaurant h2 {
  font-family: "Roboto", sans-serif;
  display: block;
  margin-top: 5vw;
  width: 21vw;
  text-align: center;
}

#home-location a {
  color: $colour-light;
}

#home-location p {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 15px;
  color: grey;
}

.home-location-container {
  background-color: $colour-block-one;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  border-radius: 1.5em;
  padding-left: 0px;
  i {
    color: $colour-dot;
  }

  .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
  }
  input {
    background: none;
    border: none;
    ::placeholder {
      border: none;
    }
    :focus {
      border: none;
      outline: none;
    }
  }
}

/*explore*/

#explore-restaurant {
  border-right: solid 2px #9356dc;
  margin-top: 28px;
  margin-bottom: 22px;
  padding-right: 76px;
}

.explore-restaurant-container {
  @include text-center-column;
  h1 {
    width: 60%;
    font-family: $font-txt;
    @include font-one;
  }
  p {
    font-family: $font-txt;
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 15px;
    color: grey;
  }
}

.btn-explore-restaurant {
  background: $colour-mixed;
  box-shadow: $back-shadow;
  width: 164px;
  text-align: center;
  @include btn-form;
  a &:hover {
    color: $colour-dot;
  }
  &:hover {
    background: linear-gradient(180deg, #ff79da, #9256dcd0);
    box-shadow: $back-shadow-hover;
  }
}

.explore-restaurant-container a {
  text-decoration: none;
  color: $colour-light;
  font-size: 15px;
}

.btn-explore-restaurant {
  background: $colour-mixed;
  @include btn-form;
  box-shadow: $back-shadow;
  a {
    @include a-transform;
  }
}

/*fonctionnements*/

#how-it-works {
  background-color: $colour-light;
  box-shadow: rgb(196 196 196) 0px -6px 12px;
}

.how-it-works-content {
  @include flex-mobile;
  align-items: flex-start;
  margin-left: 35px;
  h2 {
    font-family: $font-txt;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
  }
}

.btn-how-it-works {
  border-radius: 1.5rem;
  padding: 16px;
  padding-right: 30px;
  margin-top: 10px;
}

.how-it-works-btn span {
  color: $colour-light;
  @include pastille;
  background-color: $colour-dot;
  z-index: 1;
}

.how-it-works-element {
  @include flex-mobile;
  width: 95%;
}

.how-it-works-btn-element {
  background-color: $colour-block-one;
  box-shadow: $back-shadow;
  display: flex;
  justify-content: space-evenly;
  width: 20vw;
  padding: 0;
  &:hover {
    box-shadow: $back-shadow-hover;
  }
  &:hover > * {
    color: black;
    i {
      color: $colour-dot;
    }
  }
}

.home-search {
  width: 100vw;
}
.home-search-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.how-it-works-element {
  display: flex;
  width: 95vw;
  column-gap: 44px;
  justify-content: space-around;
  flex-direction: row;
  .how-it-works-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
  }
}

.restaurants-choices-container-results-grid--element---image-container span {
  color: $colour-typo-new;
  background-color: $colour-ticket-new;
}

.how-it-works-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  i {
    color: gray;
    padding-left: 10px;
  }
}

.how-it-works-content-third {
  margin-bottom: 20px;
}

/*restaurant-choices*/

#restaurants-choices span {
  background-color: $colour-ticket-new;
  color: $colour-typo-new;
  @include ticket-card;
}

.restaurants-choices-title {
  margin: 0;
  padding: 0 0 2rem 0;
}
/**/
#restaurants-choices {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 2%;
  gap: 34px;
  margin-top: 38px;
  width: 94vw;
  margin-left: 3vw;
  margin-bottom: 15vh;
}

.restaurants-choices-container-results-grid--element---description {
  text-decoration: none;
}

.restaurants-choices-container-results-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-row: 2;
  gap: 28px;
  a {
    color: black;
  }
}

.restaurants-choices-container-results-grid--element {
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 1.2rem;
  padding: 3px;
  box-shadow: $back-shadow;
  width: 99%;

  &---image-container {
    height: 206px;
    overflow: hidden;
  }
  &---image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
  }
  &--element---description {
    margin-top: 10px;
    margin-left: 12px;
    margin-bottom: 10px;
  }
}

.restaurants-choices-container-results-way {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 10px 10px 10px 10px;
  h4,
  p {
    margin: 0;
  }
}

button {
  border: none;
  background: none;
}

.like i.fas.fa-heart {
  font-size: 20px;
  background: -webkit-linear-gradient(
    bottom,
    #ff79da,
    #9356dc 1rem,
    #9356dc 1rem,
    transparent,
    transparent
  );
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
  -webkit-background-size: 58px;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  transition: background-size 1s ease-in-out;
  overflow: hidden;
  padding: 1px;
  &:hover {
    -webkit-background-size: 19px;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0px;
  }
}

@media (max-width: 1024px) {
  #explore-restaurant {
    border-right: solid 2px #9356dc;
    margin-top: 28px;
    margin-bottom: 22px;
    padding-right: 12px;
  }

  #home-location h1 {
    display: block;
    margin-top: 5vw;
    width: 28vw;
    text-align: center;
  }

  .how-it-works-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8vw;
    .how-it-works-element {
      display: flex;
      width: 82vw;
      column-gap: 44px;
      justify-content: space-around;
      flex-direction: column;
      margin-left: 3vw;
      .how-it-works-btn-element {
        background-color: #e9e5e5;
        box-shadow: 0px 6px 12px #c4c4c4;
        display: flex;
        justify-content: flex-start;
        width: 74vw;
        padding: 0;
        justify-content: center;
        column-gap: 2vw;
      }
    }
  }
}

@media (max-width: 720px) {
  /*chargement*/
  .loader {
    position: fixed;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.603);
    opacity: 1;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: wait;
    animation: loader 1s forwards;
  }

  .loader i {
    margin-left: 42vw;
    margin-right: 43vw;
    margin-top: 60vw;
    font-size: 17vw;
    color: #9356dc;
    animation: loader-spin 2s ease-in-out forwards;
  }

  @keyframes loader {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -1;
    }
  }
  @keyframes loader-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /*home*/

  body {
    margin: 0;
    font-family: "Roboto", sans-serif;
  }

  a {
    text-decoration: none;
  }

  h2 {
    font-family: "Shrikhand", cursive;
  }

  #explore-restaurant h2 {
    font-family: "Roboto", sans-serif;
    display: block;
    margin-top: 5vw;
    width: 80vw;
    text-align: center;
  }

  /*header*/

  #home-logo {
    text-align: center;
    box-shadow: unset;
    img {
      width: 50vw;
      padding-bottom: 2px;
      padding-top: 15px;
    }
  }

  #home-location .btn-explore-restaurant {
    display: none;
  }

  /*recherche*/

  .btn-map button {
    border: none;
    background-color: transparent;
    color: gray;
    a {
      color: rgb(75, 75, 75);
    }
  }

  input {
    outline: none;
    border: none;
    background-color: $colour-block-one;
    color: rgb(34, 34, 34);
    :active {
      border: none;
    }
  }

  .home-search-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  #home-location h1 {
    display: none;
  }

  #home-location p {
    display: none;
  }

  #home-location {
    box-shadow: inset 0px 0px 9px #c4c4c4;
    background-color: $colour-block-one;
  }

  .home-location-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 65%;
    margin-left: 25%;
    background-color: unset;

    .visually-hidden {
      position: absolute !important;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
      width: 1px;
      height: 1px;
      word-wrap: normal;
    }
    input {
      background: none;
      border: none;
      ::placeholder {
        border: none;
      }
      :focus {
        border: none;
        outline: none;
      }
    }
  }

  /*explore*/

  #explore-restaurant {
    text-align: center;
    padding-right: 0px;
    border-right: none;
  }

  .explore-restaurant-container {
    @include text-center-column;
    h1 {
      width: 60%;
      font-family: $font-txt;
      @include font-one;
    }
    p {
      font-family: $font-txt;
      font-weight: 100;
      font-size: 15px;
      margin-bottom: 15px;
      color: grey;
    }
  }

  .btn-explore-restaurant {
    background: $colour-mixed;
    box-shadow: $back-shadow;
    @include btn-form;
    a &:hover {
      color: $colour-dot;
    }
  }

  .explore-restaurant-container a {
    text-decoration: none;
    color: $colour-light;
    font-size: 15px;
  }

  .btn-explore-restaurant {
    background: $colour-mixed;
    @include btn-form;
    box-shadow: $back-shadow;
    a {
      @include a-transform;
    }
  }

  /*fonctionnements*/

  #how-it-works {
    background-color: $colour-light;
    box-shadow: none;
  }

  .how-it-works-content {
    @include flex-mobile;
    align-items: flex-start;
    h2 {
      font-family: $font-txt;
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 0;
    }
  }

  .btn-how-it-works {
    border-radius: 1.5rem;
    padding: 16px;
    padding-right: 30px;
    margin-top: 10px;
  }

  .how-it-works-btn span {
    color: $colour-light;
    @include pastille;
    background-color: $colour-dot;
    z-index: 1;
  }

  .how-it-works-element {
    @include flex-mobile;
    width: 85%;
    margin-left: 20px;
  }

  .how-it-works-btn-element {
    background-color: $colour-block-one;
    box-shadow: $back-shadow;
    display: flex;
    justify-content: space-evenly;
    width: auto;
    padding: 0;
    &:hover > * {
      color: black;
      i {
        color: $colour-dot;
      }
    }
  }

  .restaurants-choices-container-results-grid--element---image-container span {
    color: $colour-typo-new;
    background-color: $colour-ticket-new;
  }

  .how-it-works-icon {
    justify-content: flex-start !important;
    column-gap: 14px !important;
    i {
      color: gray;
      padding-left: 10px;
    }
  }

  .how-it-works-content-third {
    margin-bottom: 20px;
  }

  /*restaurant-choices*/

  #restaurants-choices span {
    background-color: $colour-ticket-new;
    color: $colour-typo-new;
    @include ticket-card-mobile;
  }

  .restaurants-choices-title {
    margin: 0;
    padding: 0 0 2rem 0;
  }
  /**/
  #restaurants-choices {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 2%;
    gap: 34px;
    margin-top: 38px;
    width: 90%;
    margin-left: 8vw;
    margin-bottom: 35px;
  }

  .restaurants-choices-container-results-grid--element---description {
    text-decoration: none;
  }

  .restaurants-choices-container-results-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row: 2;
    gap: 28px;
    a {
      color: black;
    }
  }

  .restaurants-choices-container-results-grid--element {
    display: grid;
    grid-template-rows: 1fr;
    border-radius: 1.2rem;
    padding: 3px;
    box-shadow: $back-shadow;
    width: 93%;
    &---image-container {
      height: 113px;
      overflow: hidden;
    }
    &---image {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      text-align: center;
    }
    &--element---description {
      margin-top: 10px;
      margin-left: 12px;
      margin-bottom: 10px;
    }
  }

  /**/
  .restaurants-choices-container-results-way {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding: 10px 10px 10px 10px;
    h4,
    p {
      margin: 0;
    }
  }

  button {
    border: none;
    background: none;
  }
}
