@import "../utils/mixin";
@import "../utils/variables";

/*menu*/
.home-content {
  display: flex;
  align-items: center;
  width: 90%;
  margin-left: 6%;
}

#menu-française {
  background-image: url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 55%;
}

.fond-ecran-content {
  background-color: $colour-block-one;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
}

.fond-ecran-content h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.menu-like {
  margin-top: 35px;
}

.menu-content {
  @include flex-mobile;
  align-items: center;
  background-color: $colour-block-one;
}

.menu-title {
  display: flex;
  justify-content: space-evenly;
  padding-right: 15px;
  padding-bottom: 15px;
  align-items: center;
  width: 87%;
  justify-content: space-between;
  margin-left: 4%;
  padding-top: 10%;
}

.btn-menu {
  border-radius: 1rem;
  margin-top: 10px;
}

.menu-element {
  @include flex-mobile;
  width: 93%;
  padding-bottom: 30px;
}

.menu-element h2 {
  text-transform: capitalize;
}

.menu-element h3 {
  font-weight: 100;
  color: gray;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
}

.menu-btn-element {
  display: flex;
  background-color: #ffff;
  justify-content: space-between;
  box-shadow: $back-shadow;
}

.menu-text {
  display: flex;
  align-items: flex-end;
  width: 95%;
  overflow: hidden;
  transition: transform 600ms ease-in-out;
  justify-content: space-between;

  &:hover {
    transform: translate(-5px, 0);
  }
  &:hover + .menu-btn-valider {
    display: block;
    transform: scaleX(1);
    animation-name: menu_btn_valider;
    animation-duration: 500ms;
    i {
      transform: rotate(0deg);
    }
  }
}

@keyframes menu_btn_valider_i {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes menu_btn_valider {
  0% {
    transform: scaleX(0.2);
  }

  100% {
    transform: scaleX(1);
  }
}

.menu-btn-valider {
  display: none;
  overflow: hidden;
  background-color: $colour-ticket-new;
  padding: 17px 21px 17px 21px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transform-origin: right 50%;
  transform: scaleX(0);
  i {
    animation-name: menu_btn_valider_i;
    color: $colour-light;
    animation-duration: 500ms;
    transform: rotate(0deg);
  }
}

.menu-price {
  padding-bottom: 14px;
  padding-right: 10px;
  margin: 0;
  font-size: 11px;
}

.menu-title-text {
  @include flex-mobile;
}

.menu-title-text h4 {
  margin: 0;
  font-size: 13px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 4px;
}

.menu-title-text p {
  margin: 0;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 11px;
}

.btn-commander {
  background: $colour-mixed;
  box-shadow: $back-shadow;
  @include btn-form;
}

.btn-commander a {
  text-decoration: none;
  color: $colour-light;
  font-size: 15px;
}
