$colour-block-one: rgb(233, 229, 229);
$colour-typo-new: #048162;
$colour-ticket-new: #99e2d0;
$colour-dot: #9356dc;
$colour-mixed: linear-gradient(180deg, #ff79da, #9356dc);
$font-txt: "Roboto", sans-serif;
